body {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  margin:0;
  overflow-x: hidden;
}

.no-show-link {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

.full-bar{
  position: relative;
  background-color: #427AA1;
  width: 100vmax;   
  right: +1vw;
}
.nav-bar {
  top: -.5em;  
}
.bottom-bar {
  bottom: -1em;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start stretch;
  align-items: center;
  width: 98%;
  margin: auto;
}
.nav-item {
  position: static;
  color: black;
  padding: .5em;
  margin: 0;
  flex: 0 0 150px;

  font-size: 18px;
}

#title {
  position: static;
  letter-spacing: -3px;
  color: black;
  font-size: 50px;
  font-weight: 800;
  flex-grow: 1;
  flex-shrink: 1;
}
#end-name {
  position: relative;
  width: 100%;
  padding: 1em;
  left: 92vw;
}

.header {
  color: #427AA1;
  letter-spacing: 8px;
  font-style: italic;
  text-align: center;
  margin: 0;
  text-align: center;
}
/* #post-header {
  font-style: normal;
  position: relative;
  text-align: center;
  margin-top: 1em;
} */

#main-container {
  /* background-color: ; */
  display: grid;
  width: 1100px;
  margin: auto;
  grid-template-columns: 3fr 1.5fr;
  grid-column-gap: 10px;
  grid-template-areas: "post-list input";
}

.posts-container {
  grid-area: post-list;

  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: start stretch;
  align-content: center;
  /* position: relative;
  width: 800px;
  margin: auto; */
}
.posts-container ul {
  list-style-type: none;
  display: contents;
}
.post-item {
  background-color: #DFF0FC;
  padding: .5rem;
  margin: .5rem;
}
.post-item-container {
  display:grid;
  /* grid-template-columns: [first] 175px [divider] auto [bottom];
  grid-template-rows: [row1] auto [row2] 25% [row3];
  grid-template-areas:
    "thumbnail title"
    "thumbnail details"; */
  grid-template-rows: [row1] 1rem [row2] auto [row25] auto [row3] 2rem [row4];
  grid-template-columns: [col1] 220px [col2] 1fr [col3] 1fr;
  grid-template-areas:
    "thumbnail date ."
    "thumbnail title title"
    "thumbnail preview preview"
    "thumbnail author likes";
  justify-items: start;
  
}
.thumbnail {
  grid-area: thumbnail;
  width: 200px;
}
.post-date {
  grid-area: date;
}
.post-title {
  grid-area: title;

  text-align: left;
  align-self: center;
  font-size: 30px;
  font-weight: 1000;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: .25em 0 0 0;
  padding: 0;
}
.post-preview {
  grid-area: preview;
}
.post-author{
  grid-area: author;
}
.likes-counter {
  grid-area: likes;
  justify-self: right;
}
.num-likes {
  width: 3rem;
  padding: 0 .25rem;
}

.input-container {
  grid-area:input;
  padding: 1rem 2rem;
  background-color: #DFF0FC;
  height: 500px;
}
.input-header {
  margin: 0;
  padding-top: 5px;
  height: 0px;
}
.input-field {
  width: 100%;
  resize:none;
  overflow-y: auto;
  height: 2rem;
}
#author-input {
  height: 1rem;
}
#body-input {
  height: 10rem;
}
#post-button {
  float: right;
  margin-top: .5rem;
}




.subtext {
  position:relative;
  font-style: italic;
  font-weight: lighter;
  margin:0 0 .5em 0;
}

.description {
  position: relative;
  text-align: center;
  width: 75%;
  left: 12.5%;

  margin:0;
}


