/*
selector { 
    propertyname: value;
    otherproperty: otherValue;
}

.class{...}
.class.otherClass{...}
#id{...}
element{...}
*/

h1 {
    font-size: 88px;
    font-weight: 600;
    color: blue;
    background-color: #030123;
}

p {
    border: thin dotted purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

